{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ listing.title }}</h2>
    {% if listing.winner != Null %}
    <h4>Auction is closed!</h4>
    {% endif %}
    <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
    <p class="text-muted"> Listed by {{ listing.owner }} on {{ listing.time }}</p>
    <p>{{ listing.description }}</p>
    <p>{{ listing.current_price }}</p>
    {% if user.is_authenticated %}
    <form action="{% url 'listings' listing.pk %}" method="POST">
    {% csrf_token %}
    <input class="form-check-input" type="number" placeholder="{{ listing.current_price }}">
    <button name="bid" class="btn-primary" type="submit">Place Bid</button>
    </form>

    <form action="{% url 'listings' listing.pk %}" method="POST">
    {% csrf_token %}    
    {% if listing in user.watchlist.all %}
    <input class="form-check-input" type="checkbox" checked disabled> 
    <button name="watchlist" class="btn-primary" type="submit" value="checked">Remove from watchlist</button>
    {% else %}
    <input class="form-check-input" type="checkbox" disabled>
    <button name="watchlist" class="btn-primary" type="submit">Add to Watchlist</button>
    {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}